@import 'tailwindcss';


/* để định nghĩa CSS variables cho theme. */
@theme { 
  --color-border: hsl(var(--border));
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-card: hsl(var(--card));

  /* Animation (Tùy chỉnh chuyển động) */
  --animate-float: float 6s ease-in-out infinite;
  --animate-pulse-subtle: pulse-subtle 4s ease-in-out infinite;
  --animate-fade-in: fade-in 0.7s ease-out forwards;
  --animate-fade-in-delay-1: fade-in 0.7s ease-out 0.2s forwards;
  --animate-fade-in-delay-2: fade-in 0.7s ease-out 0.4s forwards;
  --animate-fade-in-delay-3: fade-in 0.7s ease-out 0.6s forwards;
  --animate-fade-in-delay-4: fade-in 0.7s ease-out 0.8s forwards;
  --animate-meteor: meteor 5s linear infinite;

  --animate-slide-icon-right: slide-icon-right 0.4s ease forwards;
  --animate-slide-text-left: slide-text-left 0.4s ease forwards;

}
/* Thuộc tính CSS thuần, định nghĩa animation. */
  @keyframes float {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-10px);
    }
  }

  @keyframes pulse-subtle {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.8;
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes meteor {
    0% {
      transform: rotate(215deg) translateX(0);
      opacity: 1;
    }
    70% {
      opacity: 1;
    }

    100% {
      transform: rotate(215deg) translateX(-500px);
      opacity: 0;
    }
  }

  @keyframes slide-icon-right {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(90px);
    }
  }

  @keyframes slide-text-left {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-20px);
    }
  }

/* Cú pháp của Tailwind để thêm CSS vào layer base (lớp gốc của Tailwind). */
@layer base {
  :root {
     --background: #F9FAFB;
    --foreground: #0D1117;
    --card: #FFFFFF;
    --primary: #72b626;
    --primary-foreground: #F9FAFB;
    --border: #72B626;
  }
  .dark {
     --background: #07090D;
    --foreground: #E3E8F0;
    --card: #0F131B;
    --primary: #ffb400;
    --primary-foreground: #E3E8F0;
    --border: #29313F;
  }
}

/* @apply: Tailwind cho phép áp dụng các utility class trực tiếp trong file CSS, thay vì viết trong HTML.
tương đương việc viết <body class="bg-background text-foreground transition-colors duration-300">. */
* {
  @apply border-border;
}

/* tất cả các liên kết dạng href="#something" sẽ cuộn mượt mặc định */
html {
  @apply scroll-smooth;
}

body {
  @apply bg-background text-foreground transition-colors duration-300;
}

/* Đây là cú pháp Tailwind v4 mới để định nghĩa custom utility class. dùng class="text-glow" */
@utility container {
  margin-inline: auto;
  padding-inline: 2rem;

  @media (width >=640px) {
    max-width: 640px;
  }

  @media (width >=768px) {
    max-width: 768px;
  }

  @media (width >=1024px) {
    max-width: 1024px;
  }

  @media (width >=1280px) {
    max-width: 1280px;
  }

  @media (width >=1400px) {
    max-width: 1400px;
  }
}

@utility text-glow {
  @apply relative;
  text-shadow: 0 0 10px rgba(167, 139, 250, 0.5);
}


